BLOG_ENV_ID=local
BLOG_SECRET_KEY=your-secret-key
BLOG_DEBUG=True
BLOG_ALLOWED_HOSTS=localhost,127.0.0.1
BLOG_REDIS_URL=redis://127.0.0.1:6379/1
BLOG_CELERY_BROKER_URL=redis://127.0.0.1:6379/1
BLOG_FLOWER_USER=admin
BLOG_FLOWER_PASSWORD=adminpassword
BLOG_SEED_DB=false